<script type="text/javascript">
    RED.nodes.registerType('rest-POST',{
        category: 'Revolt_system',
        color: '#96A821',
        defaults: {
            name: {value:""},
            topic: {value:""}
        },
        inputs:0,
        outputs:1,
        icon: "revolt_logo.png",
        label: function() {
            return "api/"+this.name||"rest-POST";
        }
    });
</script>

<script type="text/x-red" data-template-name="rest-POST">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name">
	</div>
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
		<input type="text" id="node-input-topic" placeholder="Topic">
	</div>
</script>

<script type="text/x-red" data-help-name="rest-POST">
    <p>rest API - POST method</p>
</script>
