<script type="text/javascript">
	RED.nodes.registerType('speech',{
		category: 'Experimental',
		color: '#D2CFCD',
		defaults: {
			topic: {value:""}
		},
		inputs:1,
		outputs:0,
		icon: "spuq_logo.png",
		label: function() {
			return this.name||"speech";
		}
	});
</script>

<script type="text/x-red" data-template-name="speech">
	<div class="form-row">
		<label for="node-input-topic"><i class="icon-tag"></i>Topic</label>
		<input type="text" id="node-input-topic" placeholder="topic" />
	</div>
</script>

<script type="text/x-red" data-help-name="speech">
<p>
Experimental text-to-speech node. Filters on topic. This node translates the <code>msg.payload</code>
to voice with the Google Translate API (EN-US) and speaks it through the main audio output. Gotta love it!
</p>
</script>
